
img {
  width: 10%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px;
  transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
}

img:hover {
  width: 14%;
}

body {
  background-color: white;
}

hr {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

iframe {
  box-shadow: 0px 0px 10px;
}