
img {
  width: 140px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px;
  transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
}

img:hover {
  width: 160px;
  rotate: 360deg;
}

body {
  background-color:#faeaff;
}

p {
  color: #8976a8;
}
h1 {
  color: #8976a8;
}

h3 {
  color: #8976a8;
}


hr {
  border-style: solid;
  border-color: #8976a8;
  border-width: 2px;
}

iframe {
  box-shadow: 0px 0px 10px;
}

a {
  color: #65baa8;
}